 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 img {
     display: block;
     max-width: 100%;
 }
 
 .container {
     max-width: 1200px;
     margin: auto;
 }
 
 header {
     padding: 60px 0;
     background-color: rgba(255, 255, 255, 0);
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 99;
 }
 
 .flex-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 nav ul {
     display: flex;
     list-style: none;
 }
 
 nav li {
     margin-left: 35px;
 }
 
 nav li:first-child {
     margin: 0;
 }
 
 .logo {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 32px;
     font-weight: 400;
     text-decoration: none;
     color: #F1CDB3;
     letter-spacing: 0.06em;
 }
 
 .slogan {
     font: 400 13px Arial;
     letter-spacing: 0.1em;
     color: #FFFFFF;
 }
 
 nav a {
     font: 15px Arial;
     text-decoration: none;
     color: #FFFFFF;
     display: block;
     padding-bottom: 4px;
 }
 
 .mob-menu {
     display: none;
     width: 27px;
 }
 
 .active {
     border-bottom: #F1CDB3 solid 3px;
 }
 
 section {
     padding: 80px 40px 100px 40px;
 }
 
 .page {
     background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
 }
 
 .pic {
     padding-top: 180px;
     padding-left: 42px;
 }
 
 .title {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     font-size: 44px;
     line-height: 57px;
     color: #FFFFFF;
     max-width: 310px;
     padding-bottom: 42px;
 }
 
 .left-main {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     color: #CDCDCD;
     max-width: 460px;
     padding-bottom: 41px;
 }
 
 .link {
     display: inline-block;
     background-color: #F1CDB3;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     font-size: 17px;
     line-height: 22px;
     letter-spacing: 6%;
     color: #292929;
     border-radius: 100px;
     padding: 15px 45px;
     border: none;
     text-decoration: none;
 }
 
 .link:hover {
     border: none;
     background-color: #FDDCC4;
     padding: 15px 45px;
 }
 
 .second-wrapper {
     background-color: #FFFFFF;
     display: flex;
     justify-content: center;
 }
 
 .image {
     padding-right: 126px;
 }
 
 .subtitle {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     font-size: 35px;
     line-height: 45px;
     letter-spacing: 6%;
     color: #545454;
     padding-bottom: 25px;
 }
 
 .content-info {
     max-width: 430px;
 }
 
 .text {
     color: #4C4C4C;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 24px;
     font-size: 15px;
     padding-bottom: 25px;
 }
 
 .wrapper {
     background-color: #F6F6F6;
     display: block;
 }
 
 .pets-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }
 
 .pets-wrapper h2 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     font-size: 35px;
     line-height: 45px;
     letter-spacing: 6%;
     color: #545454;
     text-align: center;
     padding-bottom: 60px;
 }
 
 .pets__content {
     margin-top: 60px;
     margin-bottom: 60px;
     width: 1200px;
     display: flex;
     justify-content: space-between;
 }
 
 .icon {
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 
 .ico {
     cursor: pointer;
     display: inline-block;
 }
 
 .icon-circle {
     height: 50px;
     width: 50px;
     border-radius: 50%;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     border: 2px solid #F1CDB3;
     background-image: url("../images/arrow.svg");
     background-position: center;
     background-repeat: no-repeat;
 }
 
 .icon-left {
     height: 50px;
     width: 50px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 2px solid #F1CDB3;
     background-image: url("../images/left-arrow.svg");
     background-position: center;
     background-repeat: no-repeat;
 }
 
 .icon-circle:hover {
     cursor: pointer;
     border: 2px solid #FDDCC4;
     background-color: #FDDCC4;
 }
 
 .icon-left:hover {
     cursor: pointer;
     border: 2px solid #FDDCC4;
     background-color: #FDDCC4;
 }
 
 .ico_arrow {
     width: 14px;
     height: 6px;
 }
 
 .layout-3-column {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 .cards {
     width: 990px;
 }
 
 .card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background: #FAFAFA;
 }
 
 .card:hover {
     cursor: pointer;
     background: #FFFFFF;
 }
 
 .card:hover .button_bordered {
     background-color: #FDDCC4;
     border: 2px solid #FDDCC4;
 }
 
 .card__title {
     color: #545454;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     letter-spacing: 6%;
     padding: 30px 0;
 }
 
 .card .button {
     margin-bottom: 30px;
 }
 
 .button {
     padding: 15px 45px;
     font-size: 17px;
     line-height: 22px;
     letter-spacing: 6%;
     border-radius: 100px;
     color: #292929;
     cursor: pointer;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-transform: none;
     background-color: #FAFAFA;
     border: 2px solid #F1CDB3;
 }
 
 .button-colored {
     border: none;
     background-color: #F1CDB3;
 }
 
 .button:hover {
     background-color: #FDDCC4;
 }
 
 .button_bordered {
     border: 2px solid #F1CDB3;
     background-color: #FAFAFA;
     color: #292929;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     font-size: 17px;
     line-height: 22px;
     letter-spacing: 6%;
     border-radius: 100px;
     padding: 15px 45px;
 }
 
 .button_bordered:hover {
     background-color: #FDDCC4;
     border: 2px solid #FDDCC4;
 }
 
 .help__content {
     max-width: 1026px;
     margin-top: 60px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .help__title {
     margin: auto;
     width: 308px;
     text-align: center;
     letter-spacing: 6%;
     color: #545454;
     font-size: 35px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .layout-5-column {
     display: flex;
     justify-content: space-between;
     padding-bottom: 55px;
 }
 
 .ico-pet,
 .ico-transportation,
 .ico-toys,
 .ico-shampoos,
 .ico-areas,
 .ico-bowls,
 .ico-collars,
 .ico-medicines,
 .ico-vitamins {
     display: inline-block;
     width: 100%;
     height: 100%;
 }
 
 .ico-pet {
     background-image: url("../images/icon-pet-food\ \(2\).svg");
 }
 
 .ico-transportation {
     background-image: url("../images/icon-transportation.svg");
 }
 
 .ico-toys {
     background-image: url("../images/icon-toys.svg");
 }
 
 .ico-bowls {
     background-image: url("../images/icon-bowls-and-cups.svg");
 }
 
 .ico-shampoos {
     background-image: url("../images/icon-shampoos.svg");
 }
 
 .ico-vitamins {
     background-image: url("../images/icon-vitamins.svg");
 }
 
 .ico-medicines {
     background-image: url("../images/icon-medicines.svg");
 }
 
 .ico-collars {
     background-image: url("../images/icon-collars-leashes.svg");
 }
 
 .ico-areas {
     background-image: url("../images/icon-sleeping-area.svg");
 }
 
 .layout-4-column {
     padding: 0 83px;
     display: flex;
     justify-content: space-between;
 }
 
 .item {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }
 
 .item-icon {
     width: 60px;
     height: 60px;
 }
 
 .item__title {
     letter-spacing: 0.06em;
     margin-top: 30px;
 }
 
 .donation-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .wrapper-image {
     margin-left: 142px;
 }
 
 .wrapper-content {
     margin-right: 143px;
 }
 
 .caption {
     width: 300px;
     color: #545454;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 35px;
     line-height: 45px;
     text-align: left;
     padding-bottom: 20px;
 }
 
 h3 {
     font-size: 35px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     color: #545454;
 }
 
 h4 {
     font-size: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 400;
     line-height: 23px;
     color: #545454;
     padding-bottom: 20px;
 }
 
 .text-cursiv {
     color: #B2B2B2;
     font-family: Arial, Helvetica, sans-serif;
     font-style: italic;
     line-height: 18px;
     font-size: 12px;
     width: 380px;
     padding-top: 20px;
 }
 
 .credit-card {
     border: none;
     background-color: #F1CDB3;
     border-radius: 9px;
     width: 349px;
     padding: 10px 15px;
     cursor: pointer;
 }
 
 .number-card {
     color: #545454;
     font-family: Georgia, 'Times New Roman', Times, serif;
     line-height: 23px;
     font-size: 20px;
     background: url(../images/credit-card.png) no-repeat left center;
 }
 
 footer {
     background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
     padding-top: 40px;
 }
 
 footer h2 {
     font-size: 35px;
     color: #fff;
     letter-spacing: 6%;
     font-weight: 400;
     padding-top: 16px;
     margin-bottom: 33px;
 }
 
 footer .flex-wrapper>div {
     width: 300px;
 }
 
 footer .flex-wrapper {
     align-items: flex-start;
 }
 
 footer p {
     min-height: 46px;
     padding-left: 60px;
     display: flex;
     align-items: center;
     color: #F1CDB3;
     margin-bottom: 27px;
 }
 
 footer .email {
     background: url(../images/icon-email.svg) no-repeat left center;
 }
 
 footer .tel {
     background: url(../images/icon-phone.svg) no-repeat left center;
 }
 
 footer .local {
     background: url(../images/pin.svg) no-repeat left center;
     padding-left: 42px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
 }
 
 footer a {
     color: #F1CDB3;
     text-decoration: none;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
 }
 
 @media(max-width:1200px) {
     .container {
         max-width: 95%;
     }
 }
 
 @media (max-width:1220px) {
     .icon {
         width: 100%;
         flex-wrap: wrap;
         justify-content: center;
         align-items: flex-end;
     }
     .pets__content {
         max-width: 100%;
     }
     .card {
         margin-bottom: 20px;
     }
     .cards {
         text-align: center;
         display: inline-block;
     }
 }
 
 @media(max-width:1100px) {
     .wrapper-image {
         display: none;
     }
     .text-cursiv {
         text-align: center;
         width: 100%;
     }
     .caption {
         width: 100%;
         text-align: center;
     }
     .number-card {
         max-width: 100%;
     }
     .wrapper-content {
         margin: auto;
         max-width: 100%;
         text-align: center;
     }
 }
 
 @media(max-width: 1050px) {
     .pic {
         display: none;
     }
     .holder {
         margin-top: 180px;
         margin-bottom: 30px;
     }
     .link {
         margin-bottom: 30px;
     }
 }
 
 @media(max-width:960px) {
     .layout-3-column {
         justify-content: space-around;
     }
 }
 
 @media(max-width: 900px) {
     nav li {
         display: none;
     }
     .mob-menu {
         display: inline-block;
         margin-right: 50px;
         width: 40px;
     }
     .second-wrapper {
         flex-direction: column;
         align-items: center;
     }
     .image {
         padding-bottom: 20px;
     }
     .card:last-child {
         display: none;
     }
     footer img {
         width: 100%;
     }
     footer .flex-wrapper {
         flex-wrap: wrap;
         justify-content: space-evenly;
     }
     .icon-circle {
         order: 2;
     }
     .icon-left {
         order: 1;
     }
     .help__content {
         max-width: 100%;
     }
     .layout-4-column {
         padding: 0;
         flex-wrap: wrap;
     }
     .layout-5-column {
         flex-wrap: wrap;
     }
 }
 
 @media(max-width:750px) {
     .card:nth-child(2) {
         display: none;
     }
     .layout-4-column {
         padding: 0;
         flex-wrap: wrap;
         flex-direction: column;
     }
     .layout-5-column {
         flex-wrap: wrap;
         flex-direction: column;
     }
 }
 
 @media(max-width: 600px) {
     .image {
         display: none;
     }
     .second-wrapper {
         text-align: center;
     }
     .holder {
         text-align: center;
     }
     .content-info {
         max-width: 100%;
     }
     .title {
         max-width: 100%;
         font-size: 40px;
     }
     .pets__content {
         width: 100%;
     }
     .number-card {
         font-size: 15px;
         background: none;
     }
     .credit-card {
         width: 100%;
     }
     .help__title {
         max-width: 100%;
         text-align: center;
     }
     .layout-4-column {
         display: none;
     }
     .item {
         margin-bottom: 45px;
     }
 }